src/apps/seguridad/services/SeguridadSoapService.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->

<definitions name="SeguridadSoapService" targetNamespace="urn:SeguridadSoapService" xmlns:typens="urn:SeguridadSoapService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<message name="accessToAction">
		<part name="certificate" type="xsd:string"/>
		<part name="denominacion" type="xsd:string"/>
		<part name="identity" type="xsd:integer"/>
	</message>
	<message name="accessToActionResponse">
		<part name="accessToActionReturn" type="xsd:anyType"/>
	</message>
	<message name="accessToFunctionality">
		<part name="certificate" type="xsd:string"/>
		<part name="url" type="xsd:string"/>
		<part name="identity" type="xsd:integer"/>
	</message>
	<message name="accessToFunctionalityResponse">
		<part name="accessToFunctionalityReturn" type="xsd:anyType"/>
	</message>
	<message name="AddUserAduana">
		<part name="certificate" type="xsd:string"/>
		<part name="usuario" type="xsd:string"/>
		<part name="pass" type="xsd:string"/>
		<part name="dominio" type="xsd:integer"/>
		<part name="estructura" type="xsd:integer"/>
		<part name="rol" type="xsd:integer"/>
	</message>
	<message name="AddUserAduanaResponse">
		<part name="AddUserAduanaReturn" type="xsd:anyType"/>
	</message>
	<message name="authenticateUser">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
	</message>
	<message name="authenticateUserResponse">
		<part name="authenticateUserReturn" type="xsd:string"/>
	</message>
	<message name="ChangePassword">
		<part name="usuario" type="xsd:string"/>
		<part name="oldpass" type="xsd:string"/>
		<part name="newpass" type="xsd:string"/>
	</message>
	<message name="ChangePasswordResponse">
		<part name="ChangePasswordReturn" type="xsd:integer"/>
	</message>
	<message name="ChangeState">
		<part name="idusuario" type="xsd:string"/>
		<part name="opcion" type="xsd:string"/>
	</message>
	<message name="ChangeStateResponse">
		<part name="ChangeStateReturn" type="xsd:integer"/>
	</message>
	<message name="existSomeRol"/>
	<message name="existSomeRolResponse">
		<part name="existSomeRolReturn" type="xsd:boolean"/>
	</message>
	<message name="existUserRol"/>
	<message name="existUserRolResponse">
		<part name="existUserRolReturn" type="xsd:boolean"/>
	</message>
	<message name="ExistUserRoles">
		<part name="entity" type="xsd:string"/>
	</message>
	<message name="ExistUserRolesResponse">
		<part name="ExistUserRolesReturn" type="xsd:integer"/>
	</message>
	<message name="getEntityByIdOrgano">
		<part name="certificate" type="xsd:string"/>
		<part name="param" type="xsd:integer"/>
	</message>
	<message name="getEntityByIdOrganoResponse">
		<part name="getEntityByIdOrganoReturn" type="xsd:anyType"/>
	</message>
	<message name="getProfile">
		<part name="certificate" type="xsd:string"/>
	</message>
	<message name="getProfileResponse">
		<part name="getProfileReturn" type="xsd:anyType"/>
	</message>
	<message name="getSystems">
		<part name="certificate" type="xsd:string"/>
		<part name="identidad" type="xsd:integer"/>
	</message>
	<message name="getSystemsResponse">
		<part name="getSystemsReturn" type="xsd:anyType"/>
	</message>
	<message name="getSystemsDesktopModules">
		<part name="certificate" type="xsd:string"/>
		<part name="identidad" type="xsd:integer"/>
	</message>
	<message name="getSystemsDesktopModulesResponse">
		<part name="getSystemsDesktopModulesReturn" type="xsd:anyType"/>
	</message>
	<message name="getSystemsFunctions">
		<part name="certificate" type="xsd:string"/>
		<part name="idsistema" type="xsd:integer"/>
		<part name="identidad" type="xsd:integer"/>
	</message>
	<message name="getSystemsFunctionsResponse">
		<part name="getSystemsFunctionsReturn" type="xsd:anyType"/>
	</message>
	<message name="getSystemsFunctionsDesktopModules">
		<part name="certificate" type="xsd:string"/>
		<part name="identidad" type="xsd:integer"/>
	</message>
	<message name="getSystemsFunctionsDesktopModulesResponse">
		<part name="getSystemsFunctionsDesktopModulesReturn" type="xsd:anyType"/>
	</message>
	<message name="getUserNames">
		<part name="arrayid" type="xsd:anyType"/>
	</message>
	<message name="getUserNamesResponse">
		<part name="getUserNamesReturn" type="xsd:anyType"/>
	</message>
	<message name="getUsersDates">
		<part name="idusuario" type="xsd:integer"/>
	</message>
	<message name="getUsersDatesResponse">
		<part name="getUsersDatesReturn" type="xsd:anyType"/>
	</message>
	<message name="getUsersEntity">
		<part name="array" type="xsd:anyType"/>
	</message>
	<message name="getUsersEntityResponse">
		<part name="getUsersEntityReturn" type="xsd:anyType"/>
	</message>
	<message name="getUsersProfile">
		<part name="array" type="xsd:anyType"/>
	</message>
	<message name="getUsersProfileResponse">
		<part name="getUsersProfileReturn" type="xsd:anyType"/>
	</message>
	<message name="loadActions">
		<part name="identidad" type="xsd:integer"/>
		<part name="idsistema" type="xsd:integer"/>
		<part name="idfuncionalidad" type="xsd:integer"/>
		<part name="certificado" type="xsd:string"/>
	</message>
	<message name="loadActionsResponse">
		<part name="loadActionsReturn" type="xsd:anyType"/>
	</message>
	<message name="loadDomain">
		<part name="certificate" type="xsd:string"/>
		<part name="idEstructura" type="xsd:integer"/>
	</message>
	<message name="loadDomainResponse">
		<part name="loadDomainReturn" type="xsd:anyType"/>
	</message>
	<message name="loadDomainPDO">
		<part name="certificado" type="xsd:integer"/>
		<part name="idEstructura" type="xsd:integer"/>
		<part name="tipo" type="xsd:string"/>
	</message>
	<message name="loadDomainPDOResponse">
		<part name="loadDomainPDOReturn" type="xsd:anyType"/>
	</message>
	<message name="loadUserActions">
		<part name="certificate" type="xsd:string"/>
		<part name="idfuncionalidad" type="xsd:integer"/>
		<part name="entity" type="xsd:string"/>
	</message>
	<message name="loadUserActionsResponse">
		<part name="loadUserActionsReturn" type="xsd:anyType"/>
	</message>
	<message name="LoadUserRoles">
		<part name="certificate" type="xsd:string"/>
	</message>
	<message name="LoadUserRolesResponse">
		<part name="LoadUserRolesReturn" type="xsd:anyType"/>
	</message>
	<message name="LoadXML">
		<part name="certificate" type="xsd:string"/>
		<part name="identity" type="xsd:integer"/>
	</message>
	<message name="LoadXMLResponse">
		<part name="LoadXMLReturn" type="xsd:anyType"/>
	</message>
	<message name="LoadXMLModule">
		<part name="certificate" type="xsd:string"/>
		<part name="identity" type="xsd:integer"/>
		<part name="module" type="xsd:string"/>
	</message>
	<message name="LoadXMLModuleResponse">
		<part name="LoadXMLModuleReturn" type="xsd:anyType"/>
	</message>
	<message name="modificateDomain">
		<part name="dominio" type="xsd:integer"/>
	</message>
	<message name="modificateDomainResponse">
		<part name="modificateDomainReturn" type="xsd:integer"/>
	</message>
	<message name="nameUsersProfile">
		<part name="user" type="xsd:integer"/>
	</message>
	<message name="nameUsersProfileResponse">
		<part name="nameUsersProfileReturn" type="xsd:string"/>
	</message>
	<message name="ObtenerEstructurasNoFormales">
		<part name="certificate" type="xsd:string"/>
	</message>
	<message name="ObtenerEstructurasNoFormalesResponse">
		<part name="ObtenerEstructurasNoFormalesReturn" type="xsd:anyType"/>
	</message>
	<message name="rolAsUsersGain">
		<part name="identidad" type="xsd:integer"/>
		<part name="idrol" type="xsd:integer"/>
	</message>
	<message name="rolAsUsersGainResponse">
		<part name="rolAsUsersGainReturn" type="xsd:anyType"/>
	</message>
	<message name="verificateCertificate">
		<part name="certificate" type="xsd:integer"/>
	</message>
	<message name="verificateCertificateResponse">
		<part name="verificateCertificateReturn" type="xsd:integer"/>
	</message>
	<message name="verifyAccessEntity">
		<part name="certificate" type="xsd:string"/>
		<part name="identity" type="xsd:integer"/>
	</message>
	<message name="verifyAccessEntityResponse">
		<part name="verifyAccessEntityReturn" type="xsd:integer"/>
	</message>
	<portType name="SeguridadSoapServicePortType">
		<operation name="accessToAction">
			<documentation>
				accessToAction
Devuelve si un usuario tiene acceso una accion.
			</documentation>
			<input message="typens:accessToAction"/>
			<output message="typens:accessToActionResponse"/>
		</operation>
		<operation name="accessToFunctionality">
			<documentation>
				accessToFunctionality
Devuelve si un usuario tiene acceso una funcionalidad.
			</documentation>
			<input message="typens:accessToFunctionality"/>
			<output message="typens:accessToFunctionalityResponse"/>
		</operation>
		<operation name="AddUserAduana">
			<documentation>
				AddUserAduana
Activa un usuario.
			</documentation>
			<input message="typens:AddUserAduana"/>
			<output message="typens:AddUserAduanaResponse"/>
		</operation>
		<operation name="authenticateUser">
			<documentation>
				authenticateUser
Brinda el servicio de autenticacion por usuario y password
			</documentation>
			<input message="typens:authenticateUser"/>
			<output message="typens:authenticateUserResponse"/>
		</operation>
		<operation name="ChangePassword">
			<documentation>
				ChangePassword
Funcion para cambiar el password a un usuario.
			</documentation>
			<input message="typens:ChangePassword"/>
			<output message="typens:ChangePasswordResponse"/>
		</operation>
		<operation name="ChangeState">
			<documentation>
				ChangeState
Devuelve true si se ha cambiado el estado de un usuario.
			</documentation>
			<input message="typens:ChangeState"/>
			<output message="typens:ChangeStateResponse"/>
		</operation>
		<operation name="existSomeRol">
			<documentation>
				existSomeRol
Funcion para saber si hay algun rol aparte del de instalacion creado.
			</documentation>
			<input message="typens:existSomeRol"/>
			<output message="typens:existSomeRolResponse"/>
		</operation>
		<operation name="existUserRol">
			<documentation>
				existUserRol
Funcion para saber si existe algun usuario.
			</documentation>
			<input message="typens:existUserRol"/>
			<output message="typens:existUserRolResponse"/>
		</operation>
		<operation name="ExistUserRoles">
			<documentation>
				ExistUserRoles
Devuelve true o false si la entidad tiene roles o usuarios.
			</documentation>
			<input message="typens:ExistUserRoles"/>
			<output message="typens:ExistUserRolesResponse"/>
		</operation>
		<operation name="getEntityByIdOrgano">
			<documentation>
				loadFormalEntity
Obtener las entidades formales a las que el usuario tiene acceso
			</documentation>
			<input message="typens:getEntityByIdOrgano"/>
			<output message="typens:getEntityByIdOrganoResponse"/>
		</operation>
		<operation name="getProfile">
			<documentation>
				loadProfile
Brinda el servicio de configuracion del perfil del usuario autenticado
			</documentation>
			<input message="typens:getProfile"/>
			<output message="typens:getProfileResponse"/>
		</operation>
		<operation name="getSystems">
			<documentation>
				getSystems
Brinda el servicio de listar todos los sistemas a los que tiene acceso un usuario en una entidad.
			</documentation>
			<input message="typens:getSystems"/>
			<output message="typens:getSystemsResponse"/>
		</operation>
		<operation name="getSystemsDesktopModules">
			<documentation>
				getSystemsDesktopModules
Obtener los modulos para el portal tipo escritorio.
			</documentation>
			<input message="typens:getSystemsDesktopModules"/>
			<output message="typens:getSystemsDesktopModulesResponse"/>
		</operation>
		<operation name="getSystemsFunctions">
			<documentation>
				getSystemsFunctions
Carga sistemas, subsistemas y funcionalidades.
			</documentation>
			<input message="typens:getSystemsFunctions"/>
			<output message="typens:getSystemsFunctionsResponse"/>
		</operation>
		<operation name="getSystemsFunctionsDesktopModules">
			<documentation>
				getSystemsFunctionsDesktopModules
Obtener los modulos para el portal tipo escritorio.
			</documentation>
			<input message="typens:getSystemsFunctionsDesktopModules"/>
			<output message="typens:getSystemsFunctionsDesktopModulesResponse"/>
		</operation>
		<operation name="getUserNames">
			<documentation>
				getUserNames
Funcion para devolver los nombres de usuarios.
			</documentation>
			<input message="typens:getUserNames"/>
			<output message="typens:getUserNamesResponse"/>
		</operation>
		<operation name="getUsersDates">
			<documentation>
				getUsersDates
Servicio que debuelve la entidad, el area y el cargo de un grupo de usuarios.
			</documentation>
			<input message="typens:getUsersDates"/>
			<output message="typens:getUsersDatesResponse"/>
		</operation>
		<operation name="getUsersEntity">
			<documentation>
				getUsersEntity
Devuelve la entidad, el area y el cargo de cada usuario.
			</documentation>
			<input message="typens:getUsersEntity"/>
			<output message="typens:getUsersEntityResponse"/>
		</operation>
		<operation name="getUsersProfile">
			<documentation>
				returnUsersProfile
Devuelve el usuario con los datos del perfil.
			</documentation>
			<input message="typens:getUsersProfile"/>
			<output message="typens:getUsersProfileResponse"/>
		</operation>
		<operation name="loadActions">
			<documentation>
				loadActions
Servicio que le permite obtener las acciones de un usuario.
			</documentation>
			<input message="typens:loadActions"/>
			<output message="typens:loadActionsResponse"/>
		</operation>
		<operation name="loadDomain">
			<documentation>
				loadDomain
Obtener el dominio de entidades a la que el usuario tiene acceso
			</documentation>
			<input message="typens:loadDomain"/>
			<output message="typens:loadDomainResponse"/>
		</operation>
		<operation name="loadDomainPDO">
			<documentation>
				loadDomainPDO
Servicio para saber si un certificado es valido.
			</documentation>
			<input message="typens:loadDomainPDO"/>
			<output message="typens:loadDomainPDOResponse"/>
		</operation>
		<operation name="loadUserActions">
			<documentation>
				loadUserActions
Devuelve las acciones de un usuario.
			</documentation>
			<input message="typens:loadUserActions"/>
			<output message="typens:loadUserActionsResponse"/>
		</operation>
		<operation name="LoadUserRoles">
			<documentation>
				LoadUserRoles
Devuelve un arreglo con todos los roles de un usuario.
			</documentation>
			<input message="typens:LoadUserRoles"/>
			<output message="typens:LoadUserRolesResponse"/>
		</operation>
		<operation name="LoadXML">
			<documentation>
				LoadXML
Obtiene un XML con la configuracion para un usuario.
			</documentation>
			<input message="typens:LoadXML"/>
			<output message="typens:LoadXMLResponse"/>
		</operation>
		<operation name="LoadXMLModule">
			<documentation>
				LoadXMLModule
Obtiene un XML con la configuracion de un modulo dado para un usuario.
			</documentation>
			<input message="typens:LoadXMLModule"/>
			<output message="typens:LoadXMLModuleResponse"/>
		</operation>
		<operation name="modificateDomain">
			<documentation>
				modificateDomain
Servicio para saber si el dominio fue modificado.
			</documentation>
			<input message="typens:modificateDomain"/>
			<output message="typens:modificateDomainResponse"/>
		</operation>
		<operation name="nameUsersProfile">
			<documentation>
				nameUsersProfile
Devuelve el nombre del usuario.
			</documentation>
			<input message="typens:nameUsersProfile"/>
			<output message="typens:nameUsersProfileResponse"/>
		</operation>
		<operation name="ObtenerEstructurasNoFormales">
			<documentation>
				arrayEstructurasUsuarios
Obtener las estructuras a las que tiene acceso un usuario
			</documentation>
			<input message="typens:ObtenerEstructurasNoFormales"/>
			<output message="typens:ObtenerEstructurasNoFormalesResponse"/>
		</operation>
		<operation name="rolAsUsersGain">
			<documentation>
				rolAsUsersGain
Servicio para obtener todos los usuarios de un rol en una entidad.
			</documentation>
			<input message="typens:rolAsUsersGain"/>
			<output message="typens:rolAsUsersGainResponse"/>
		</operation>
		<operation name="verificateCertificate">
			<documentation>
				verificateCertificate
Servicio para saber si un certificado es valido.
			</documentation>
			<input message="typens:verificateCertificate"/>
			<output message="typens:verificateCertificateResponse"/>
		</operation>
		<operation name="verifyAccessEntity">
			<documentation>
				verifyAccessEntity
Verifica si un usuario tiene acceso a una entidad.
			</documentation>
			<input message="typens:verifyAccessEntity"/>
			<output message="typens:verifyAccessEntityResponse"/>
		</operation>
	</portType>
	<binding name="SeguridadSoapServiceBinding" type="typens:SeguridadSoapServicePortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="accessToAction">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="accessToFunctionality">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="AddUserAduana">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="authenticateUser">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ChangePassword">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ChangeState">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="existSomeRol">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="existUserRol">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ExistUserRoles">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getEntityByIdOrgano">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getProfile">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getSystems">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getSystemsDesktopModules">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getSystemsFunctions">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getSystemsFunctionsDesktopModules">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getUserNames">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getUsersDates">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getUsersEntity">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getUsersProfile">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="loadActions">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="loadDomain">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="loadDomainPDO">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="loadUserActions">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="LoadUserRoles">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="LoadXML">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="LoadXMLModule">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="modificateDomain">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="nameUsersProfile">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ObtenerEstructurasNoFormales">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="rolAsUsersGain">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="verificateCertificate">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="verifyAccessEntity">
			<soap:operation soapAction="urn:SeguridadSoapServiceAction"/>
			<input>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:SeguridadSoapService" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="SeguridadSoapServiceService">
		<port name="SeguridadSoapServicePort" binding="typens:SeguridadSoapServiceBinding">
			<soap:address location="http://10.7.15.65/repo2/aplicaciones/seguridad/services.php"/>
		</port>
	</service>
</definitions>
